	li #logout{
		padding-right: 555px;
	}

.wrapper {
	margin:0 auto;
	width: 80%;
}

.text-wrapper{
	margin-left: 10px;
	margin-right: 10px;
}
.title{
	text-align:center;
	color: white;
	background-color:gray;
	margin-top: 0;	
}


.container{
	width: 100%;
	margin: auto;
	overflow: hidden;
}

.border-box{
	margin: 0 auto;
	border-style: solid;
	width: 90%;
	border-width: 1px;
	background-color: #F5F5F5;

}

#banner img{
		display: block;
  		margin-left: auto;
  		margin-right: auto;
		max-width:  100%;
	}

#seal img{
		display: block;
  		margin-left: auto;
  		margin-right: auto;
		min-height: 100%;
	}

body,html {
	height: 100vh;
	width: 100%;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 15px;
	background:#fafafa
	}

p[title = start]{
	text-indent: 2em;
}

p[title = end]{
	font-weight: bold;
	text-align: center;	
}

/* ========================================= header section ============================================= */
nav{
	min-height: 70px;
	border-bottom:1px solid black;
	background:#f5f5f5;
	overflow: auto;
}


nav ul { 
	float:left;
	margin:0;
	list-style:none;
	margin-left: 45px;
	}

nav ul li { 
	display: inline-block;
	line-height: 80px;
	padding: 0 20px 0 50px;
   }

nav #logo img{
	position: absolute;
	margin-top:10px;
	left:3%;
	}

label #icon {
	float: right;
	width: 25px;
	margin-top: 24px;
	display: none;
	}

#check{
	display: none;
}

nav ul li a{
	position: relative;
	display:inline-block;
	padding:25px;
	text-decoration:none;
	line-height: 25px;
	font-family:Arial;
	color:black;
	text-align:center;	
}

nav a.active{
	font-weight: bold;
	color: dodgerblue;
	text-transform: uppercase;
}
 
nav a:hover {
	color: dodgerblue;
	font-weight: bold;
	transition:.9s;
	text-transform:uppercase;
	text-align:center; 
	}

@media screen and (max-width: 1025px){
	nav #logo img{
	left: 2%;
	}
	nav ul li { 
	line-height: 75px;
   	padding: 0 20px 0 15px;
   }

}


/*=================================== footer section =========================================*/
foot .page-container {
  position: relative;
  min-height: 100vh;
}

footer{
	background-color: #696969;
	color:white;
	top: 10%;
	bottom:0;
	left:0;
	height: 250px; 
	position: relative;
	margin-top: 50px;
}

footer .footer-content{
	display: flex;
}


footer .footer-content .footer-section {
	flex: 1;
	text-align: center;
	color:white;
}

footer .footer-content .message{
	color: #d3d3d3;
	font-size: 18px;
	text-align:center;
}

footer .footer-content .textstyle{
	text-align: center;
	color: #d3d3d3;
}


footer .footer-content .footlogo{
	margin-top:50px;
	margin-left:auto;
	margin-right:auto;
}


footer .footer-content .social-menu{
	display: : inline-block;
	text-align: center;
	padding: 0;

	
}

footer .footer-content .social-menu .fab{
	font-size: 60px;
	margin-right: 10px;
	margin-left: 10px;
	line-height: 150%;
	color: #123;
	max-width: 100%;

}


footer .footer-copyrights{
	background-color: #343a40;
	color: #d3d3d3;
	height:30px;
	width:100%;
	text-align:center;
	position: absolute;
	bottom: 0;
	left:0;
	padding-top:10px;
	
}


/*=========================================---------------======================================*/
/*========================================= Mobile Styles ======================================*/
/*=========================================---------------======================================*/

@media screen and (max-width: 1024px){
	nav{
		background-color: #4682b4;
		border-bottom: 1px solid red;
	}
	nav #logo img{
			left: 8%;
			margin-top: 5px;
		}

	nav ul li a{
			display:block;
			color: white;
			font-size: 18px;
		
		}

	label #icon {
	display: block;
	color: white;
	margin-right: 25px;
	cursor:pointer;
	}

	#check:checked ~ ul{
		right: 0;
	}


	ul{
		position: absolute;
		width:  100%;
		height: 80vh;
	    background-color: #4682b4;
		border-top: 1px solid red;
		border-bottom: 1px solid red;
		top: 70px;
		text-align: center;
		right:  100%;
		transition: all .5s;
	}
	
	nav ul li{
		line-height: 30px;
		display: block;
		margin: 25px 0;
	}

	nav a:hover{
		color: 	#123;
	}

	nav a.active{
		color: 	#123;
	}




	footer .footer-content .social-menu .fab{
			font-size: 40px;
			margin-right: 10px;
			margin-left: 10px;

	}


	footer .footer-content .message{
			font-size: 10px;
		}

	footer .footer-content .textstyle{
			font-size: 15px;
		}


	footer .footer-content .footlogo{
			margin-top:10px;
		}



	footer .footer-copyrights{
			font-size: 10px;	
		}
}

@media screen and (max-width: 768px){
	ul{
		height: 75vh;
	}

	.title{
		background-color: #464866;

	}

	
}


@media screen and (max-width: 375px){
		footer .footer-content .social-menu .fab{
			font-size: 25px;
			}

		footer .footer-content .footer-section {
			font-size: 15px;	

		}

		ul{
			height: 75vh;
		}
}
/*===================================BGAPP============================*/

.graphic{
	width: 100%;
	height: 100%;
	background: #485058;
}

.graphic .border{
	margin-right: auto;
	margin-left: auto;
	border: 5px solid white;
	border-radius: 15%;
	height: 50%;
	width: 75%;
}

.items{
	color: white;
}

.items #object{
	font-size: 20px;]
	color: green;
}

.items h2[title= title-info]{
	text-align: center;
	letter-spacing: 2px;
}
.graphic h1[title = infograph]{
	margin-top: 1px;
	font-size: 55px;
	text-align: center;
	letter-spacing: 3px;
	padding-top: 25px;
	color: gray;
}

span{
	color: orange;	
}

#object{
	text-align: center;
	font-weight: bold;
}