body{
   background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://i.ibb.co/Lnjmbgr/plaza.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-bottom: 120px;
}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: auto;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius:15px;
}
​

header .logbanner {
  width: 500px;
  height: 100px;
}

.end{
  text-align: center;
  color: white;
  font-size: 40px;
}

.section{
  width: 100%;
  display: block;
}

.section .left{
  width: 50%;
  display: table-cell;
}

.section .right{
  display:table-cell;
}


.messagelog{
font-size: 35px;
margin-left: 80px;
display: inline-block;
color: #e2e2e2;
font-weight: bold;
}

.messagelog h1 span{
  color: yellow;
  font-weight: bold;
}

.login_Content{
  display:inline-block;
  margin-left: 25%;
  width: 500px;
  height: 300px;
 }

.login_Content form{
  width: 90%;
  height: 75%;
  padding:15px;
  padding-bottom: 90px;
  background: white;
  border-radius: 4px;
  box-shadow: 0 8px 16px rgba(0,0,0,.3);
}


